---
import type { DisplayMeta } from "../../types";

interface Props {
    title: string;
    meta?: DisplayMeta[];
}

const { title, meta = [] } = Astro.props;
---

<header class="page-header container-narrow">
    {title && <h1 class="page-title">{title}</h1>}
    {
        meta.length > 0 && (
            <div class="item-meta mt-6">
                {meta.map((item, index) => (
                    <span class="flex items-center">
                        {index > 0 && (
                            <span class="opacity-40 mx-2 text-xs">•</span>
                        )}
                        {item.datetime ? (
                            <time datetime={item.datetime}>{item.value}</time>
                        ) : (
                            <span>
                                {item.label && (
                                    <span class="opacity-60 font-medium">
                                        {item.label}:{" "}
                                    </span>
                                )}
                                <span class="font-bold">{item.value}</span>
                            </span>
                        )}
                    </span>
                ))}
            </div>
        )
    }
</header>
