---
import Tag from "./Tag.astro";
import Icon from "./Icon.astro";

interface Props {
    title: string;
    href: string;
    description?: string;
    date?: string;
    authors?: string;
    extraInput?: string;
    tags?: string[];
    externalUrl?: string;
}

const { title, href, description, date, authors, extraInput, tags, externalUrl } = Astro.props;
---

<article class="card">
    <div class="card-content">
        <a href={href} class="card-title">{title}</a>

        <div class="card-meta">
            {date && (
                <span class="flex items-center gap-1">
                    <Icon name="Calendar" size={24} />
                    <span>{date}</span>
                </span>
            )}
            {authors && (
                <span class="flex items-center gap-1">
                    <Icon name="User" size={24} />
                    <span>{authors}</span>
                </span>
            )}
            {extraInput && (
                <span class="flex items-center gap-1">
                    <Icon name="Institution" size={24} />
                    <span>{extraInput}</span>
                </span>
            )}
        </div>

        {
            tags && tags.length > 0 && (
                <div class="flex gap-2 flex-wrap mb-3">
                    {tags.map((tag) => (
                        <Tag name={tag} size="sm" />
                    ))}
                </div>
            )
        }

        {description && <p class="card-desc">{description}</p>}
    </div>

    {
        externalUrl && (
            <div class="flex-shrink-0">
                <a href={externalUrl} target="_blank" rel="noopener noreferrer" class="card-link">
                    View
                </a>
            </div>
        )
    }
</article>