---
import { ICONS, type IconName } from "../../assets/icons";

interface Props {
    name: IconName | string;
    size?: number | string;
    class?: string;
    strokeWidth?: number;
    id?: string;
}

const { name, size = 24, class: className, strokeWidth = 1.5, id } = Astro.props;
const iconContent = ICONS[name as IconName];
if (!iconContent) {
    throw new Error(
        `[Unknown Icon]: ${name}`
    )
}
---

{
    iconContent ? (
        <svg
            id={id}
            xmlns="http://www.w3.org/2000/svg"
            width={size}
            height={size}
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width={strokeWidth}
            stroke-linecap="round"
            stroke-linejoin="round"
            class={className}
            set:html={iconContent}
        />
    ) : (
        <span class="text-red-500 text-xs">[Icon Not Found: {name}]</span>
    )
}
